#form {
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
    font-size: 14px;
    font-family: Impact;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#encabezado {
   font-size: 26px;
   margin-top: 5px;
   font-family: Impact;
   background-color: cadetblue;
   text-align: left; 
   padding: 20px;
   font-style: italic;
}